swagger: '2.0'
info:
  version: v1
  title: Fleet Manager
  description: 应用进程队列管理
host: scase.myhuaweicloud.com
schemes:
  - https
basePath: /v1
produces:
  - application/json
consumes:
  - application/json; charset=UTF-8
tags:
  - name: 应用进程队列管理
  - name: 应用进程队列运行状态查询
  - name: 伸缩策略管理
  - name: 服务器会话管理
  - name: 客户端会话管理
  - name: 应用进程管理
  - name: 别名管理
  - name: 应用包管理
  - name: 用户管理
  - name: 其他资源管理
  - name: 日志管理
parameters:
  Auth-token:
    name: Auth-token
    in: header
    type: string
    description: |
      用户Token。

      通过用户登录后的请求体中获取，请求API需要在请求头中带此参数
    required: true
    minLength: 1
    maxLength: 16384
  contentType:
    name: Content-Type
    in: header
    required: true
    type: string
    minLength: 1
    maxLength: 64
    description: |
      MIME类型；带请求体的请求该字段需为 application/json;charset=utf-8
  projectId:
    name: project_id
    in: path
    type: string
    description: |
      项目ID，获取方法请参考[获取项目ID]()
    required: true
    minLength: 1
    maxLength: 64
  fleetId:
    name: fleet_id
    in: path
    description: 应用进程队列的id，由创建应用进程队列接口返回，格式为uuid，例如：77317ac6-acd8-11ec-a7e0-6805cab276a1
    required: true
    type: string
    minLength: 1
    maxLength: 64
  aliasId:
    name: alias_id
    in: path
    description: 应用进程队列别名的id，由创建应用进程队列接口返回，格式为uuid，例如：77317ac6-acd8-11ec-a7e0-6805cab276a1
    required: true
    type: string
    minLength: 1
    maxLength: 64
  offset:
    name: offset
    in: query
    required: false
    type: integer
    format: int32
    minimum: 0
    maximum: 10
    default: 0
    description: 分页偏移量，为0表示第一页，为1表示从第二页开始显示
  limit:
    name: limit
    in: query
    required: false
    type: integer
    format: int32
    minimum: 1
    maximum: 100
    default: 100
    description: 单页显示的数据条数
  serverSessionId:
    name: server_session_id
    in: path
    required: true
    type: string
    description: 服务器会话id，通过创建服务器会话接口返回，全局唯一，uuid格式，例如：77317ac6-acd8-11ec-a7e0-6805cab276a1
    minLength: 1
    maxLength: 64
  clientSessionId:
    name: client_session_id
    in: path
    required: true
    type: string
    description: 客户端会话id，通过创建客户端会话接口返回，全局唯一，uuid格式，例如：77317ac6-acd8-11ec-a7e0-6805cab276a1
    minLength: 1
    maxLength: 64
  instanceId:
    name: instance_id
    in: query
    description: 每一个实例id，由ECS服务自动生成，全局唯一，uuid格式，例如：77317ac6-acd8-11ec-a7e0-6805cab276a1
    required: false
    type: string
    minLength: 1
    maxLength: 64
  durationStart:
    name: duration_start
    in: query
    required: false
    type: integer
    format: int32
    description: 筛选当前在应用进程队列/实例/进程上的会话最小数量，默认不设置
  durationEnd:
    name: duration_end
    in: query
    required: false
    type: integer
    format: int32
    description: 筛选当前在应用进程队列/实例/进程上的会话最大数量，默认不设置
  ipAddress:
    name: ip_address
    in: query
    required: false
    type: string
    description: 筛选的ip地址，如100.20.13.25
  processId:
    name: process_id
    in: query
    required: false
    type: string
    description: 进程id，全局唯一，uuid格式，例如：77317ac6-acd8-11ec-a7e0-6805cab276a1
    minLength: 1
    maxLength: 64
  startTime:
    name: start_time
    in: query
    required: false
    type: string
    description: 筛选的数据的开始时间，例如：2022-12-01T20:37:39
    minLength: 1
    maxLength: 64
  endTime:
    name: end_time
    in: query
    required: false
    type: string
    description: 筛选的数据的结束时间，例如：2022-12-01T20:37:39
    minLength: 1
    maxLength: 64
  Userid:
    name: id
    in: query
    required: false
    description: 用户id
    type: string
  ResouarceId:
    name: id
    in: query
    required: false
    description: 资源配置id，全局唯一，uuid格式，例如c0544f73-bce0-11ed-991f-fa163ecd2502
    type: string
paths:
  /{project_id}/fleets:
    post:
      tags:
        - 应用进程队列管理
      operationId: CreateFleet
      summary: 创建应用进程队列
      description: 创建应用进程队列
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - in: body
          name: CreateFleetRequestBody
          description: 创建应用进程队列请求体
          required: true
          schema:
            $ref: '#/definitions/CreateFleetRequestBody'
        - $ref: '#/parameters/Userid'
      responses:
        '201':
          description: 创建成功响应
          schema:
            $ref: '#/definitions/CreateFleetResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    get:
      tags:
        - 应用进程队列管理
      operationId: ListFleets
      summary: 查询应用进程队列列表
      description: 查询应用进程队列列表
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
      responses:
        '200':
          description: 应用进程队列列表
          schema:
            $ref: '#/definitions/ListFleetsResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/fleets/{fleet_id}:
    delete:
      tags:
        - 应用进程队列管理
      operationId: DeleteFleet
      summary: 删除应用进程队列
      description: 删除前请确认该fleet是否关联有alias，若关联，则无法被删除
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
      responses:
        '204':
          description: 删除应用进程队列成功
          schema:
            type: string
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    get:
      tags:
        - 应用进程队列管理
      operationId: ShowFleet
      summary: 查询应用队列基本信息
      description: 查询应用队列基本信息
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
      responses:
        '200':
          description: 查询应用进程队列详情响应
          schema:
            $ref: '#/definitions/ShowFleetResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    put:
      tags:
        - 应用进程队列管理
      operationId: UpdateFleet
      summary: 更新应用队列基本信息
      description: 更新应用队列基本信息
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
        - in: body
          name: UpdateFleetRequestBody
          description: Fleet object that needs to be modified
          required: true
          schema:
            $ref: '#/definitions/UpdateFleetAttributesReuqestBody'
      responses:
        '204':
          description: 更新应用队列基本信息成功
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/fleets/{fleet_id}/inbound-permissions:
    get:
      tags:
        - 应用进程队列管理
      operationId: ShowFleetInboundPermissions
      summary: 查询应用队列入站规则
      description: 查询应用队列入站规则
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
      responses:
        '200':
          description: 应用进程队列安全组信息
          schema:
            $ref: '#/definitions/ShowInboundPermissionResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    put:
      tags:
        - 应用进程队列管理
      operationId: UpdateFleetInboundPermissions
      summary: 更新应用队列入站规则
      description: 更新应用队列入站规则
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
        - in: body
          name: UpdateFleetInboundPermissionsRequestBody
          description: Fleet object that needs to be modified
          required: true
          schema:
            $ref: '#/definitions/UpdateFleetInboundPermissionsRequestBody'
      responses:
        '204':
          description: 更新应用进程队列安全组成功
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/fleets/{fleet_id}/runtime-configuration:
    get:
      tags:
        - 应用进程队列管理
      operationId: ShowFleetRuntimeConfiguration
      summary: 查询应用队列运行配置
      description: 查询应用队列运行配置
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
      responses:
        '200':
          description: 应用进程队列运行配置详情
          schema:
            $ref: '#/definitions/FleetRuntimeConfigurationResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    put:
      tags:
        - 应用进程队列管理
      operationId: UpdateFleetRuntimeConfiguration
      summary: 更新应用队列运行配置
      description: 更新应用队列运行配置
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
        - in: body
          name: UpdateFleetRuntimeConfigurationRequestBody
          description: Fleet object that needs to be modified
          required: true
          schema:
            $ref: '#/definitions/RuntimeConfiguration'
      responses:
        '204':
          description: 更新应用进程队列运行配置成功
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/fleets/{fleet_id}/instance-capacity:
    get:
      tags:
        - 应用进程队列管理
      summary: 获取应用进程队列的容量信息
      description: 获取应用进程队列的容量信息
      operationId: ShowFleetInstanceCapacity
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
      responses:
        '200':
          description: 应用进程队列实例容量信息
          schema:
            $ref: '#/definitions/ShowFleetCapacityResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    put:
      tags:
        - 应用进程队列管理
      operationId: UpdateFleetInstanceCapacity
      summary: 更新应用队列容量
      description: 更新应用队列容量
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
        - in: body
          name: UpdateFleetInstanceCapacityRequestBody
          description: Fleet object that needs to be modified
          required: true
          schema:
            $ref: '#/definitions/UpdateFleetInstanceCapacityRequestBody'
      responses:
        '204':
          description: 更新应用进程队列实例容量成功
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/fleets/{fleet_id}/process-counts:
    get:
      tags:
        - 应用进程队列管理
      summary: 获取处于不同状态的应用进程数量信息
      description: 获取处于不同状态的应用进程数量信息
      operationId: ListFleetProcesses
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
      responses:
        '200':
          description: 应用进程队列处于不同状态的进程数量信息
          schema:
            $ref: '#/definitions/ProcessCountsResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/fleets/{fleet_id}/scaling-policies:
    post:
      tags:
        - 伸缩策略管理
      summary: 创建弹性伸缩策略
      description: 创建弹性伸缩策略
      operationId: CreateScalingPolicy
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
        - name: CreateScalingPolicyRequestBody
          in: body
          description: 创建弹性策略请求体
          required: true
          schema:
            $ref: '#/definitions/CreateScalingPolicyRequestBody'
      responses:
        '201':
          description: 更新弹性伸缩策略成功响应
          schema:
            $ref: '#/definitions/CreateScalingPolicyResponsetBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    get:
      tags:
        - 伸缩策略管理
      summary: 获取弹性伸缩配置列表
      description: 获取弹性伸缩策略列表
      operationId: ListScalingPolicies
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
      responses:
        '200':
          description: 应用进程队列的弹性伸缩策略列表
          schema:
            $ref: '#/definitions/ListScalingPolicyResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/fleets/{fleet_id}/scaling-policies/{policy_id}:
    put:
      tags:
        - 伸缩策略管理
      summary: 修改弹性伸缩策略
      description: 修改弹性伸缩策略
      operationId: UpdateScalingPolicy
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
        - name: policy_id
          in: path
          required: true
          type: string
          description: 弹性伸缩策略id
          minLength: 1
          maxLength: 128
        - name: UpdateScalingPolicyRequestBody
          in: body
          description: 更新弹性伸缩策略请求体
          required: true
          schema:
            $ref: '#/definitions/UpdateScalingPolicyRequestBody'
      responses:
        '204':
          description: 更新应用进程队列弹性伸缩策略成功
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    delete:
      tags:
        - 伸缩策略管理
      operationId: DeleteScalingPolicy
      summary: 删除弹性伸缩策略
      description: 删除弹性伸缩策略
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/fleetId'
        - name: policy_id
          in: path
          required: true
          type: string
          description: 弹性伸缩策略id
          minLength: 1
          maxLength: 128
      responses:
        '204':
          description: 删除弹性伸缩策略成功
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/server-sessions:
    post:
      tags:
        - 服务器会话管理
      summary: 创建服务器会话
      description: 创建服务器会话，可以选择根据fleet_id或alias_id创建会话，两者不能同时配置
      operationId: CreateServerSession
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - name: CreateServerSessionRequestBody
          in: body
          description: 创建服务器请求体
          required: true
          schema:
            $ref: '#/definitions/CreateServerSessionRequestBody'
      responses:
        '201':
          description: 创建服务会话成功响应
          schema:
            $ref: '#/definitions/CreateServerSessionResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    get:
      tags:
        - 服务器会话管理
      summary: 获取服务器会话列表
      description: 获取服务器会话列表
      operationId: ListServerSessions
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - name: fleet_id
          in: query
          description: >-
            应用进程队列的id，由创建应用进程队列接口返回，格式为uuid，例如：77317ac6-acd8-11ec-a7e0-6805cab276a1
          required: true
          type: string
          minLength: 1
          maxLength: 64
        - name: state
          in: query
          required: false
          description: |
            根据服务器会话的状态进行过滤。
            * ACTIVE:      活跃
            * ACTIVATING:  激活中
            * TERMINATED:  终止
            * TERMINATING: 终止中
            * ERROR:       异常
          type: string
          enum:
            - ACTIVE
            - ACTIVATING
            - TERMINATED
            - TERMINATING
            - ERROR
      responses:
        '200':
          description: 服务器会话详情列表
          schema:
            $ref: '#/definitions/ListServerSessionResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/server-sessions/{server_session_id}:
    get:
      tags:
        - 服务器会话管理
      operationId: ShowSession
      summary: 获取服务器会话详情
      description: 获取服务器会话详情
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/serverSessionId'
      responses:
        '200':
          description: 服务器会话详情
          schema:
            $ref: '#/definitions/ShowServerSessionResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    put:
      tags:
        - 服务器会话管理
      summary: 更新服务器会话
      description: 更新服务器会话
      operationId: UpdateServerSession
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/serverSessionId'
        - name: UpdateServerSessionRequestBody
          in: body
          description: 更新服务器会话请求体
          required: false
          schema:
            $ref: '#/definitions/UpdateServerSessionRequestBody'
      responses:
        '204':
          description: 更新服务器会话成功
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/server-sessions/{server_session_id}/client-sessions:
    post:
      tags:
        - 客户端会话管理
      summary: 创建客户端会话
      description: 创建客户端会话
      operationId: CreateClientSession
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/serverSessionId'
        - name: CreateClientSessionRequestBody
          in: body
          description: 创建客户端会话请求体
          required: true
          schema:
            $ref: '#/definitions/CreateClientSessionRequestBody'
      responses:
        '201':
          description: 创建客户端会话成功响应
          schema:
            $ref: '#/definitions/CreateClientSessionResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    get:
      tags:
        - 客户端会话管理
      summary: 获取客户端会话列表
      description: 获取客户端会话列表
      operationId: ListClientSessions
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/serverSessionId'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
      responses:
        '200':
          description: 客户端会话详情列表
          schema:
            $ref: '#/definitions/ListClientSessionResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/server-sessions/{server_session_id}/client-sessions/batch-create:
    post:
      tags:
        - 客户端会话管理
      summary: 批量创建客户端会话
      description: 批量创建客户端会话
      operationId: BatchCreateClientSessions
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/serverSessionId'
        - name: BatchCreateClientSessionsRequestBody
          in: body
          description: 创建客户端会话请求体
          required: true
          schema:
            $ref: '#/definitions/BatchCreateClientSessionRequestBody'
      responses:
        '201':
          description: 批量创建客户端会话成功响应
          schema:
            $ref: '#/definitions/BatchCreateClientSessionResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/server-sessions/{server_session_id}/client-sessions/{client_session_id}:
    get:
      tags:
        - 客户端会话管理
      operationId: ShowClientSession
      summary: 获取客户端会话详情
      description: 获取客户端会话详情
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/serverSessionId'
        - $ref: '#/parameters/clientSessionId'
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: 客户端会话详情列表
          schema:
            $ref: '#/definitions/ShowClientSessionResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/monitor-fleets:
    get:
      tags:
        - 应用进程队列运行状态查询
      summary: 获取应用进程运行状态列表
      description: 获取应用进程运行状态列表
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      operationId: ListMonitorFleets
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/Auth-token'
        - name: state
          in: query
          required: false
          description: 应用进程队列状态 枚举：CREATING ACTIVE DELETING ERROR，精准搜索
          type: string
        - name: fleet_id
          in: query
          required: false
          type: string
          description: 应用进程队列id，模糊搜索
        - name: fleet_name
          in: query
          required: false
          type: string
          description: 应用进程队列名称，模糊搜索
      responses:
        '200':
          description: 响应应用进程队列列表
          schema:
            $ref: '#/definitions/ListMonitorFleetsResponseBody'
          headers:
            X-Request-Id:
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
              type: string
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/monitor-fleets/{fleet_id}:
    get:
      tags:
        - 应用进程队列运行状态查询
      summary: 获取单个应用进程队列运行状态详情
      description: 获取单个应用进程队列运行状态详情
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      operationId: ShowMonitorFleet
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/fleetId'
      responses:
        '200':
          description: 查询应用进程队列详情响应
          schema:
            $ref: '#/definitions/ShowMonitorFleetResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/fleets/{fleet_id}/monitor-instances:
    get:
      tags:
        - 应用进程队列运行状态查询
      summary: 获取单个应用进程队列中的实例列表
      description: 获取单个应用进程队列中的实例列表
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      operationId: ListMonitorInstances
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/fleetId'
        - $ref: '#/parameters/instanceId'
        - name: health_state
          in: query
          required: false
          description: |
            实例的健康状态
            * ERROR：异常状态
            * NORMAL: >-
              正常状态
              * INITAILIZING：初始化
          type: string
          minLength: 1
          maxLength: 64
          enum:
            - ERROR
            - NORMAL
            - INITAILIZING
        - name: life_cycle_state
          in: query
          required: false
          description: |
            实例所处的生命周期
            * INSERVICE：已启用
            * PENDING：正在加入伸缩组
            * PENDING_WAIT：等待（正在加入伸缩组）
            * REMOVING：正在移出伸缩组
            * REMOVING_WAIT：等待（正在移出伸缩组）
            * STANDBY：已备用
            * ENTERING_STANDBY：进入备用状: >-
              >-
          type: string
          minLength: 1
          maxLength: 64
          enum:
            - INSERVICE
            - PENDING
            - PENDING_WAIT
            - REMOVING
            - REMOVING_WAIT
            - STANDBY
            - ENTERING_STANDBY
        - $ref: '#/parameters/durationStart'
        - $ref: '#/parameters/durationEnd'
      responses:
        '200':
          description: 响应实例信息
          schema:
            $ref: '#/definitions/ListMonitorInstancesResponceBody'
          headers:
            X-Request-Id:
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
              type: string
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/fleets/{fleet_id}/monitor-app-processes:
    get:
      tags:
        - 应用进程队列运行状态查询
      summary: 获取单个应用进程队列中的进程列表
      description: 获取单个应用进程队列中的进程列表
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      operationId: ListMonitorAppProcesses
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/fleetId'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/instanceId'
        - $ref: '#/parameters/processId'
        - $ref: '#/parameters/ipAddress'
        - $ref: '#/parameters/durationStart'
        - $ref: '#/parameters/durationEnd'
        - name: state
          in: query
          required: false
          description: |
            * ACTIVATING: 进程正在激活
            * ERROR: 进程异常
            * ACTIVE: 进程已被激活
            * TERMINATED: 进程已被终止
            * TERMINATING: 进程正在被终止
          type: string
          minLength: 1
          maxLength: 64
          enum:
            - ACTIVATING
            - ERROR
            - ACTIVE
            - TERMINATED
            - TERMINATING
      responses:
        '200':
          description: 响应进程信息
          schema:
            $ref: '#/definitions/ListMonitorAppProcessResponceBody'
          headers:
            X-Request-Id:
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
              type: string
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /{project_id}/fleets/{fleet_id}/monitor-server-sessions:
    get:
      tags:
        - 应用进程队列运行状态查询
      summary: 获取单个应用进程队列中会话列表
      description: 获取单个应用进程队列中的会话列表
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      operationId: ListMonitorServerSessions
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/fleetId'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/instanceId'
        - $ref: '#/parameters/processId'
        - $ref: '#/parameters/ipAddress'
        - $ref: '#/parameters/startTime'
        - $ref: '#/parameters/endTime'
        - name: state
          in: query
          required: false
          description: |
            * ACTIVATING: 会话正在激活
            * ERROR: 会话异常
            * ACTIVE: 会话已被激活
            * TERMINATED: 会话已被终止
          type: string
          minLength: 1
          maxLength: 64
          enum:
            - ACTIVATING
            - ERROR
            - ACTIVE
            - TERMINATED
        - name: server_session_id
          in: query
          required: false
          type: string
          description: 服务器会话id，通过创建服务器会话接口返回，全局唯一，uuid格式，例如：77317ac6-acd8-11ec-a7e0-6805cab276a1
          minLength: 1
          maxLength: 64
      responses:
        '200':
          description: 响应会话信息
          schema:
            $ref: '#/definitions/ListMonitorServerSessionResponceBody'
          headers:
            X-Request-Id:
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
              type: string
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /v1/{project_id}/app-processes:
    get:
      tags:
        - 应用进程管理
      summary: 获取应用进程列表
      description: 获取应用进程列表
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      operationId: ListAppProcess
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - name: fleet_id
          in: query
          required: true
          description: >-
            应用进程队列的id，由创建应用进程队列接口返回，格式为fleet-uuid，例如：fleet-77317ac6-acd8-11ec-a7e0-6805cab276a1
          type: string
          minLength: 1
          maxLength: 64
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: 响应进程列表
          schema:
            $ref: '#/definitions/ListProcessResponseBody'
          headers:
            X-Request-Id:
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
              type: string
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /{project_id}/aliases:
    post:
      tags:
        - 别名管理
      operationId: CreateAlias
      summary: 创建应用进程队列
      description: 创建应用进程队列
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - in: body
          name: CreateAliasRequestBody
          description: 创建应用进程队列别名请求体
          required: true
          schema:
            $ref: '#/definitions/CreateAliasRequestBody'
      responses:
        '201':
          description: 创建成功响应
          schema:
            $ref: '#/definitions/CreateAliasResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    get:
      tags:
        - 别名管理
      operationId: ListAliases
      summary: 获取应用进程队列别名列表
      description: 获取应用进程队列别名列表
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - in: query
          name: fleet_id
          description: 搜索alias所关联的fleet_id
          required: false
          type: string
          minLength: 1
          maxLength: 64
        - in: query
          name: type
          description: |-
            别名的类型
            * ACTIVE: 激活类型，该类型的alias可以指向flee列表t，并且可以使用该alias创建会话
            * DEACTIVE: 停用类型，该类型的alias不会指向fleet，使用该alias创建会话会直接返回该结构体中message的信息
            * TERMINATED: 表示该Alias已被删除
          required: false
          type: string
          minLength: 1
          maxLength: 64
        - in: query
          name: name
          description: 别名的名称，支持模糊搜索
          required: false
          type: string
          minLength: 1
          maxLength: 1024
      responses:
        '200':
          description: 应用进程队列列表
          schema:
            $ref: '#/definitions/ListAliasResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/aliases/{alias_id}:
    get:
      tags:
        - 别名管理
      operationId: ShowAlias
      summary: 查询应用队列别名基本信息
      description: 查询应用队列别名基本信息
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/aliasId'
      responses:
        '200':
          description: 查询应用进程队列别名详情响应
          schema:
            $ref: '#/definitions/ShowAliasResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    put:
      tags:
        - 别名管理
      operationId: UpdateAlias
      summary: 更新应用队列别名基本信息
      description: 更新应用队列别名基本信息
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/aliasId'
        - in: body
          name: UpdateAliasRequestBody
          description: Alias object that needs to be modified
          required: true
          schema:
            $ref: '#/definitions/UpdateAliasRequestBody'
      responses:
        '204':
          description: 更新应用队列基本信息成功
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
    delete:
      tags:
        - 别名管理
      operationId: DeleteAlias
      summary: 删除应用进程队列
      description: Delete Alias by ID
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/aliasId'
      responses:
        '204':
          description: 删除应用进程队列成功
          schema:
            type: string
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /user/login:
    post:
      tags:
        - 用户管理
      summary: 用户登录
      description: 用户登录接口
      operationId: UserLogin
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: LoginParam
          in: body
          required: false
          schema:
            $ref: '#/definitions/LoginParam'
      responses:
        '201':
          description: 用户信息解析成功，返回用户相关信息
          schema:
            $ref: '#/definitions/LoginResponse'
          headers:
            Auth-Token:
              description: 用户认证token，访问API时请求头需携带此参数
              type: string
            username:
              description: 当前登录用户名
              type: string
            sessionid:
              description: 当前登录用户会话id
              type: string
            ExpireTime:
              description: token过期时间
              type: string
        '400':
          description: 请求参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
      x-order: 0
  /v1/user/logout:
    post:
      tags:
        - 用户管理
      summary: 用户登出
      description: 用户登出，删除登录会话
      operationId: UserLogout
      parameters:
        - $ref: '#/parameters/Auth-token'
      responses:
        '204':
          description: 登出成功
          schema:
            type: string
      x-order: 1
  /user/changepass:
    put:
      tags:
        - 用户管理
      summary: 修改密码
      description: 用户修改密码
      operationId: ChangePassword
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: ChangePassBody
          in: body
          required: false
          schema:
            $ref: '#/definitions/ChangePassBody'
          description: 修改密码结构体
        - $ref: '#/parameters/Auth-token'
      responses:
        '204':
          description: 密码修改成功，自动登出
          schema:
            type: string
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
      x-order: 2
  /admin/resconfig:
    post:
      tags:
        - 用户管理
      summary: 管理员为用户新增租户信息
      operationId: InsertResConfig
      parameters:
        - name: ResourceConfig
          in: body
          required: false
          description: 资源租户信息
          schema:
            $ref: '#/definitions/ResConfig'
        - $ref: '#/parameters/Auth-token'
      responses:
        '201':
          description: 请求成功
          schema:
            $ref: '#/definitions/InsertResConfResp'
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
      x-order: 4
    delete:
      tags:
        - 用户管理
      summary: 删除用户资源账户信息
      description: 根据origin字段与region删除租户
      operationId: DeleteResConfig
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - $ref: '#/parameters/Auth-token'
        - $ref: '#/parameters/ResouarceId'
      responses:
        '204':
          description: 删除成功
          schema:
            type: string
        '400':
          description: 输入参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
      x-order: 5
    put:
      tags:
        - 用户管理
      summary: 修改租户信息
      operationId: AdminUpdateResConfig
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: ModifyResConfigBody
          in: body
          required: true
          description: 修改租户信息结构体
          schema:
            $ref: '#/definitions/ModifyResConfigBody'
        - $ref: '#/parameters/Auth-token'
      responses:
        '204':
          description: 修改成功
          schema:
            type: string
        '400':
          description: 输入参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
      x-order: 6
    get:
      tags:
        - 用户管理
      summary: 管理员获取所有租户信息
      description: 获取所有租户信息
      operationId: AdminGetAllResConfig
      parameters:
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: 返回所有租户信息数量和详情
          schema:
            $ref: '#/definitions/ResConfList'
        '400':
          description: 输入参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /{project_id}/builds/upload:
    post:
      tags:
        - 应用包管理
      operationId: UploadBuild
      consumes:
        - multipart/form-data
      summary: 上传应用
      description: 上传应用（通过console上传应用）（参数存在form-data中）
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      parameters:
        - $ref: '#/parameters/Auth-token'
        - name: project_id
          in: path
          description: ID of project
          required: true
          type: string
          minLength: 32
          maxLength: 36
        - name: file
          in: formData
          required: true
          type: string
          format: binary
          description: 应用包文件 将校验后缀（zip与rar）将校验大小 小于5GB
        - name: region
          in: formData
          required: true
          description: 应用包将存入的region
          type: string
        - name: bucket_name
          in: formData
          required: true
          description: 应用包将存入的桶名
          type: string
      responses:
        '200':
          description: 返回应用包OBS存储信息
          schema:
            $ref: '#/definitions/UploadBuildResponse'
        '400':
          description: Error response
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: ''
          schema:
            $ref: '#/definitions/ErrorRsp'
  /admin/alluser:
    get:
      tags:
        - 用户管理
      summary: 获取所有用户
      description: 管理员获取所有用户信息
      operationId: AdminGetAllUser
      parameters:
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: 获取用户信息成功后显示所有用户信息
          schema:
            items:
              $ref: '#/definitions/GetUserInfo'
            type: array
        '500':
          description: 服务器内部错误
          schema:
            type: string
      x-order: 7
  /admin/userinfo:
    put:
      tags:
        - 用户管理
      summary: 管理员修改用户信息
      description: 管理员可修改用户的邮箱，电话，用户类型，激活状态
      operationId: AdminModifyUser
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: ReviseUser
          in: body
          required: true
          schema:
            $ref: '#/definitions/ReviseUser'
        - $ref: '#/parameters/Auth-token'
      responses:
        '204':
          description: 返回用户信息
          schema:
            $ref: '#/definitions/UserInfo'
        '400':
          description: 输入参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
    post:
      tags:
        - 用户管理
      summary: 管理员新增用户
      description: 管理员新增用户
      operationId: AddUser
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: UserInfo
          in: body
          required: true
          description: 添加用户信息结构体
          schema:
            $ref: '#/definitions/UserInfo'
        - $ref: '#/parameters/Auth-token'
      responses:
        '201':
          description: 用户新增成功
          schema:
            $ref: '#/definitions/UserInfo'
        '400':
          description: 用户名已存在或参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
      x-order: 3
    delete:
      tags:
        - 用户管理
      summary: 管理员删除用户
      operationId: AdminDeleteUser
      parameters:
        - $ref: '#/parameters/Userid'
        - $ref: '#/parameters/Auth-token'
      responses:
        '204':
          description: 删除成功
          schema:
            type: string
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /user/origininfo:
    get:
      tags:
        - 用户管理
      operationId: ListOrigins
      summary: 查询使用租户详情信息
      description: 查询使用租户详情信息
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - name: username
          in: query
          description: user name
          required: true
          type: string
          minLength: 1
          maxLength: 36
        - name: region
          in: query
          description: 在某个region下origin信息
          required: false
          type: string
          minLength: 0
          maxLength: 36
        - name: origin_domain_name
          in: query
          description: 该租户名在所有region下的信息
          required: false
          type: string
          minLength: 0
          maxLength: 64
        - name: Auth-Token
          in: header
          required: true
          description: 登录认证Token，通过登录接口获得
          type: string
      responses:
        '200':
          description: 查询应用进程队列详情响应
          schema:
            $ref: '#/definitions/ListOriginInfoResponseBody'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /user/support-regions:
    get:
      tags:
        - 用户管理
      operationId: ListOSupportRegions
      summary: 查询支持的region
      description: 查询支持的region
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: 查询应用进程队列详情响应
          schema:
            $ref: '#/definitions/ListSupportRegions'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: 这个字段作为一个请求的唯一标志，用于任务流程追溯，格式为 request_id(uuid)-timestamp-hostname
  /{project_id}/user/bucket:
    get:
      tags:
        - 其他资源管理
      summary: 获取当前资源账号指定region 桶名列表
      description: 获取当前资源账号指定region 桶名列表
      operationId: UserBucket
      parameters:
        - $ref: '#/parameters/projectId'
        - name: region
          in: query
          required: true
          type: string
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserBucketResponse'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
      x-order: 7
  /user/userinfo:
    get:
      tags:
        - 用户管理
      summary: 获取用户基本信息
      description: 获取用户基本信息
      operationId: UserInfo
      parameters:
        - $ref: '#/parameters/Userid'
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: 返回用户信息
          schema:
            $ref: '#/definitions/UserInfo'
        '400':
          description: 输入参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
    put:
      tags:
        - 用户管理
      summary: 用户修改用户信息
      operationId: UserReviseInfo
      parameters:
        - name: UserReviseInfoBody
          in: body
          required: true
          description: 用户只能修改邮箱和电话
          schema:
            $ref: '#/definitions/UserReviseInfoBody'
        - $ref: '#/parameters/Auth-token'
      responses:
        '204':
          description: 修改成功
          schema:
            $ref: '#/definitions/UserInfo'
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /user/resconfig:
    get:
      tags:
        - 用户管理
      summary: 用户获取租户信息
      description: 用户能获取拥有的所有租户资源信息
      operationId: UserGetResConf
      parameters:
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: 获取租户信息成功
          schema:
            $ref: '#/definitions/ResConfList'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /user/resource:
    get:
      tags:
        - 用户管理
      summary: 获取单个租户资源详情
      operationId: UserGetSingleResConf
      parameters:
        - $ref: '#/parameters/ResouarceId'
      responses:
        '200':
          description: 资源租户详情
          schema:
            $ref: '#/definitions/ResConfig'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /admin/resetpw:
    post:
      tags:
        - 用户管理
      summary: 管理员重置用户密码
      operationId: AdminResetPassword
      parameters:
        - $ref: '#/parameters/Userid'
        - $ref: '#/parameters/Auth-token'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /{project_id}/user/image:
    get:
      tags:
        - 其他资源管理
      summary: 获取当前资源账号指定region镜像列表
      description: 获取当前资源账号指定region 镜像列表
      operationId: UserImage
      parameters:
        - $ref: '#/parameters/projectId'
        - name: region
          in: query
          required: true
          type: string
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserImageResponse'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
      x-order: 7
  /{project_id}/image-builds:
    post:
      tags:
        - 应用包管理
      operationId: CreateBuildByImage
      summary: 创建应用--直接绑定镜像
      description: 创建应用--直接绑定镜像      注：通过直接绑定镜像创建的应用在删除时不会删除绑定的镜像，会直接删除db记录
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - name: project_id
          in: path
          description: ID of project
          required: true
          type: string
          minLength: 32
          maxLength: 36
        - name: CreateBuildByImageRequest
          in: body
          required: true
          description: 创建应用-直接绑定镜像 请求体
          schema:
            $ref: '#/definitions/CreateBuildByImageRequest'
      responses:
        '200':
          description: 返回新增的应用包基础信息
          schema:
            $ref: '#/definitions/Build'
          headers:
            X-Request-Id:
              type: string
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
        '400':
          description: Error response
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
        '500':
          description: ''
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
              type: string
  /{project_id}/builds:
    get:
      tags:
        - 应用包管理
      operationId: ListBuilds
      summary: 查询应用包列表
      description: 查询应用包列表
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - name: project_id
          in: path
          description: ID of project
          required: true
          type: string
          minLength: 32
          maxLength: 36
        - name: offset
          in: query
          required: false
          type: integer
          format: int32
          minimum: 0
          maximum: 10
          description: 分页偏移量，为0表示第一页，为1表示从第二页开始显示
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        - name: name
          in: query
          required: false
          type: string
        - name: state
          in: query
          required: false
          type: string
          description: 枚举 INITIALIZED（初始化）  READY（就绪） IMAGE_CREATING（镜像创建中） FAILED（创建失败）
        - name: creation_time
          in: query
          required: false
          type: string
          description: '起始时间 + "/" + 结束时间   时间格式为时间戳（秒级） 起始缺失时默认为1 结束缺失时默认为当前时间戳。 例: ”1677486100/1677486300“ 或”/1677486300“或”1677486100/“或”/“'
      responses:
        '200':
          description: Build列表
          schema:
            $ref: '#/definitions/ListBuildsResponseBody'
          headers:
            X-Request-Id:
              description: >-
                This field is the request ID number for task tracking. Format is
                request_id-timestamp-hostname
              type: string
        '400':
          description: Error response
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
        '500':
          description: ''
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              description: >-
                This field is the request ID number for task tracking. Format is
                request_id-timestamp-hostname
              type: string
    post:
      tags:
        - 应用包管理
      operationId: CreateBuild
      summary: 创建应用--指定路径
      description: 创建应用--指定路径
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - name: project_id
          in: path
          description: ID of project
          required: true
          type: string
          minLength: 32
          maxLength: 36
        - name: CreateBuildRequest
          in: body
          required: true
          description: 创建应用-指定路径 请求体
          schema:
            $ref: '#/definitions/CreateBuildRequest'
      responses:
        '200':
          description: 返回新增的应用包基础信息
          schema:
            $ref: '#/definitions/Build'
          headers:
            X-Request-Id:
              type: string
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
        '400':
          description: Error response
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
        '500':
          description: ''
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
              type: string
  /{project_id}/builds/{build_id}:
    get:
      tags:
        - 应用包管理
      operationId: ShowBuild
      summary: 查询应包详情 包含关联的fleet信息
      description: 查询应包详情 包含关联的fleet信息
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - name: project_id
          in: path
          description: ID of project
          required: true
          type: string
          minLength: 32
          maxLength: 36
        - name: build_id
          in: path
          description: ID of Build
          required: true
          type: string
          minLength: 32
          maxLength: 36
      responses:
        '200':
          description: 应用包详情 包含关联的fleet信息
          schema:
            $ref: '#/definitions/BuildMsg'
          headers:
            X-Request-Id:
              type: string
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
        '400':
          description: Error response
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
        '500':
          description: ''
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
              type: string
    put:
      tags:
        - 应用包管理
      operationId: UpdateBuild
      summary: 更新应用包
      description: 更新应用包 支持更新名称、版本号、描述，其余均不支持更新
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - name: project_id
          in: path
          description: ID of project
          required: true
          type: string
          minLength: 32
          maxLength: 36
        - name: build_id
          in: path
          description: ID of Build
          required: true
          type: string
          minLength: 32
          maxLength: 36
        - name: UpdateBuildRequestBody
          in: body
          required: true
          description: 更新应用包请求体
          schema:
            $ref: '#/definitions/UpdateBuildRequestBody'
      responses:
        '200':
          description: 成功 空
          headers:
            X-Request-Id:
              type: string
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
        '400':
          description: Error response
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
        '500':
          description: ''
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
              type: string
    delete:
      tags:
        - 应用包管理
      operationId: DeleteBuild
      summary: 删除应用包
      description: 删除应用包
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Auth-token'
        - name: project_id
          in: path
          description: ID of project
          required: true
          type: string
          minLength: 32
          maxLength: 36
        - name: build_id
          in: path
          description: ID of Build
          required: true
          type: string
          minLength: 32
          maxLength: 36
      responses:
        '204':
          description: 成功 空
          headers:
            X-Request-Id:
              type: string
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
        '400':
          description: 请求错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              type: string
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
        '500':
          description: 服务端内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
          headers:
            X-Request-Id:
              description: >-
                This field is the request ID number for task tracking. Format is
                request_uuid-timestamp-hostname.
              type: string
  /{project_id}/user/vpc:
    get:
      tags:
        - 其他资源管理
      summary: 获取当前资源账号指定region vpc列表
      description: 获取当前资源账号指定region vpc列表
      operationId: UserVpc
      parameters:
        - $ref: '#/parameters/projectId'
        - name: region
          in: query
          required: true
          type: string
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserVpcResponse'
        '500':
          description: 服务器内部错误
          schema:
            type: string
      x-order: 7
  /{project_id}/user/subnet:
    get:
      tags:
        - 其他资源管理
      summary: 获取当前资源账号指定region 子网列表
      description: 获取当前资源账号指定region 子网列表
      operationId: UserSubnet
      parameters:
        - $ref: '#/parameters/projectId'
        - name: region
          in: query
          required: true
          type: string
        - name: vpc_id
          in: query
          required: true
          type: string
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserSubnetResponse'
        '500':
          description: 服务器内部错误
          schema:
            type: string
      x-order: 7
  /{project_id}/lts-transfer:
    put:
      tags:
        - 日志管理
      summary: 更新日志接入描述
      operationId: UpdateAccessConfig
      parameters:
        - $ref: '#/parameters/projectId'
        - name: description
          in: body
          required: false
          description: 修改日志接入结构体
          schema:
            $ref: '#/definitions/UpdateAccessConfig'
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: 修改成功
          schema:
            $ref: '#/definitions/CreateTransfer'
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
    delete:
      tags:
        - 日志管理
      summary: 删除日志转储
      operationId: DeleteTransfer
      parameters:
        - $ref: '#/parameters/projectId'
        - name: transfer_id
          in: query
          required: true
          description: 转储id
          type: string
          minLength: 32
          maxLength: 36
        - $ref: '#/parameters/Auth-token'
      responses:
        '204':
          description: 删除成功
          schema:
            type: string
        '500':
          description: 内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
    post:
      tags:
        - 日志管理
      summary: 创建日志转储
      description: 为日志流创建日志转储，定期转储至OBS
      operationId: CreateLogTransfer
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/Auth-token'
        - name: CreateTransfer
          in: body
          required: false
          description: 创建日志转储
          schema:
            $ref: '#/definitions/CreateTransfer'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CreateTransferResp'
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
    get:
      tags:
        - 日志管理
      summary: 获取单条转储信息
      description: 日志流只能关联一个日志转储，通过日志流id查询对应的日志转储
      operationId: QueryTransfer
      parameters:
        - $ref: '#/parameters/projectId'
        - name: log_transfer_id
          in: query
          required: true
          description: 日志流id
          type: string
          minLength: 32
          maxLength: 36
        - $ref: '#/parameters/Auth-token'
      responses:
        '200':
          description: 查询成功返回详情
          schema:
            $ref: '#/definitions/QureyTransferInfo'
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /{project_id}/lts-access-config:
    post:
      tags:
        - 日志管理
      summary: 新增日志接入
      operationId: CreateAccessConfig
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/Auth-token'
        - name: LTS_Config
          in: body
          required: false
          schema:
            $ref: '#/definitions/CreateAccessConfig'
      responses:
        '200':
          description: 日志接入成功参数
          schema:
            $ref: '#/definitions/CreateAccessConfigResp'
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
    delete:
      tags:
        - 日志管理
      summary: 删除日志接入
      operationId: DeleteAccessConfig
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/Auth-token'
        - name: access_config_id
          in: query
          required: true
          description: 日志接入id
          type: string
          minLength: 32
          maxLength: 36
      responses:
        '204':
          description: 删除成功
          schema:
            type: string
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
    get:
      tags:
        - 日志管理
      summary: 查询单条日志接入信息
      operationId: QueryAccessConfig
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/Auth-token'
        - name: access_config_id
          in: query
          required: true
          description: 日志接入id
          type: string
          minLength: 32
          maxLength: 36
      responses:
        '200':
          description: 查询成功
          schema:
            $ref: '#/definitions/CreateAccessConfigResp'
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /{project_id}/list-lts-transfer:
    get:
      tags:
        - 日志管理
      summary: 列举所有转储
      operationId: ListTransfer
      parameters:
        - $ref: '#/parameters/projectId'
        - name: limit
          in: query
          required: false
          description: 查询数目限制
          type: integer
          format: int32
        - name: offset
          in: query
          required: false
          description: 查询游标
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ListTransferResp'
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /{project_id}/list-lts-access-config:
    get:
      tags:
        - 日志管理
      summary: 列举所有日志接入
      operationId: ListAccessConfig
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/Auth-token'
        - name: limit
          in: query
          required: false
          description: 查询限制最大条数
          type: integer
          format: int32
        - name: offset
          in: query
          required: false
          description: 查询游标
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ListAccessConfig'
        '400':
          description: 请求参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /{project_id}/lts-log-group:
    post:
      tags:
        - 日志管理
      summary: 创建日志组
      operationId: CreateLogGroup
      parameters:
        - $ref: '#/parameters/projectId'
        - $ref: '#/parameters/Auth-token'
        - name: CreateLogGroup
          in: body
          required: true
          description: 创建日志组结构体
          schema:
            $ref: '#/definitions/CreateLogGroupReq'
      responses:
        '200':
          description: 生成成功信息
          schema:
            $ref: '#/definitions/CreateLogGroupResp'
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
  /{project_id}/list-lts-log-group:
    get:
      tags:
        - 日志管理
      summary: 查询所有日志组信息
      operationId: ListLogGroup
      parameters:
        - $ref: '#/parameters/projectId'
      responses:
        '200':
          description: 日志组列表
          schema:
            $ref: '#/definitions/ListLogGroup'
        '400':
          description: 参数错误
          schema:
            $ref: '#/definitions/ErrorRsp'
        '500':
          description: 内部错误
          schema:
            $ref: '#/definitions/ErrorRsp'
definitions:
  CreateFleetRequestBody:
    description: 创建应用进程队列请求体
    properties:
      name:
        type: string
        description: 应用进程队列的名称. 可以不唯一.
        minLength: 1
        maxLength: 1024
        example: MyDemo
      description:
        type: string
        description: 应用进程队列描述
        minLength: 1
        maxLength: 1024
        example: this is a demo
      build_id:
        type: string
        description: 应用包id，创建后不支持修改
        example: build-52d872a5-acd3-11ec-a7e0-6805cab276a1
        minLength: 1
        maxLength: 64
      region:
        type: string
        default: cn-north-4
        example: cn-north-4
        description: |-
          应用进程队列所在的region，只支持北京四region
          * cn-north-4: 北京四
        enum:
          - cn-north-4
      bandwidth:
        type: integer
        format: int32
        minimum: 1
        maximum: 200
        default: 1
        example: 100
        description: 应用队列单实例公网出带宽最大值，默认1，单位Mbps，范围1-200，可提单提高配额
      instance_specification:
        type: string
        description: |-
          实例规格，当前只支持2种标准型 
          * scase.standard.4u8g
          * scase.standard.8u16g
        default: scase.standard.4u8g
        example: scase.standard.4u8g
        enum:
          - scase.standard.4u8g
          - scase.standard.8u16g
      enterprise_project_id:
        type: string
        description: fleet所在的企业项目，默认为服务部署时所指定的企业项目，若服务部署时没有指定，则为默认企业项目
        default: 0
        example: 238012fd-0649-4fc8-bb89-bf6fc8b38d72
      vpc_name:
        type: string
        description: |-
          * 指定资源租户上的VPC创建fleet，若指定的VPC不存在则新建fleet失败
          * 在指定VPC创建Fleet时，会在指定的VPC上创建子网，并且会检查子网是否与已有子网冲突，若冲突则会再次随机子网，最多重复10次
          * 需要保证指定的VPC网段包含部署时配置的VPC网段，否则可能导致创建fleet失败
        default: ''
        example: vpc-metaspace
      server_session_protection_policy:
        type: string
        description: >-
          服务服务器会话保护策略

          * NO_PROTECTION:         不保护，缩容时如果有会话在实例上运行，直接缩容    

          * FULL_PROTECTION:       完全保护，缩容时如果有会话在实例上运行，等待会话结束再缩容

          * TIME_LIMIT_PROTECTION:
          限时保护，缩容时如果有会话在实例上运行，等待一定时间后缩容，等待时间由server_session_protection_time_limit_minutes指定
        example: NO_PROTECTION
        enum:
          - NO_PROTECTION
          - FULL_PROTECTION
          - TIME_LIMIT_PROTECTION
      server_session_protection_time_limit_minutes:
        type: integer
        format: int32
        description: >-
          server_session_protection_policy字段为TimeLimitProtection时有效，单位分钟，最大值不超过一天
        minimum: 5
        maximum: 1440
        default: 5
        example: 5
      resource_creation_limit_policy:
        $ref: '#/definitions/ResourceCreationLimitPolicy'
        description: 对客户端在指定时间内可以创建的服务器会话数量进行限制的策略。通过这个策略，你可以控制客户端消耗可用资源的能力。
      runtime_configuration:
        $ref: '#/definitions/RuntimeConfiguration'
        description: 应用进程队列的运行时配置信息
      inbound_permissions:
        type: array
        minItems: 1
        maxItems: 50
        description: 访问配置，即允许外部访问应用进程的IP地址和端口描述
        items:
          $ref: '#/definitions/IpPermission'
      instance_tags:
        type: array
        description: 实例标签数组
        minItems: 0
        maxItems: 10
        items:
          $ref: '#/definitions/InstanceTag'
    required:
      - name
      - build_id
      - runtime_configuration
      - inbound_permissions
  CreateFleetResponseBody:
    required:
      - fleet
    properties:
      fleet:
        $ref: '#/definitions/Fleet'
  ShowFleetResponseBody:
    required:
      - fleet
    properties:
      fleet:
        $ref: '#/definitions/Fleet'
  ProcessConfiguration:
    description: 应用进程描述
    properties:
      launch_path:
        type: string
        description: 应用进程启动程序路径，linux风格文件路径
        example: /home/scase/start_up.sh
        minLength: 0
        maxLength: 1024
      parameters:
        type: string
        description: 应用进程启动入参
        example: '--port=1234'
        minLength: 0
        maxLength: 1024
      concurrent_executions:
        type: integer
        description: 并发应用进程数
        example: 1
        minimum: 1
        maximum: 50
    required:
      - launch_path
      - parameters
      - concurrent_executions
  Fleet:
    description: 应用进程队列
    properties:
      fleet_id:
        type: string
        description: 应用进程队列的id
        minLength: 1
        maxLength: 64
        example: fleet-77317ac6-acd8-11ec-a7e0-6805cab276a1
      name:
        type: string
        description: 应用进程队列的名称. 可以不唯一.
        minLength: 1
        maxLength: 1024
        example: MyDemo
      description:
        type: string
        description: 应用队列描述
        minLength: 1
        maxLength: 1024
        example: this is a demo
      region:
        type: string
        default: cn-north-4
        description: 应用进程队列所在的region，只支持北京四region - cn-north-4 北京四
        enum:
          - cn-north-4
        example: cn-north-4
      state:
        type: string
        description: |-
          队列状态 
          * CREATING:     创建中 
          * ACTIVE:       活跃 
          * ERROR:        错误
          * DELETING:     删除中 
          * TERMINATED:   已终止
        enum:
          - CREATING
          - ACTIVE
          - ERROR
          - DELETING
          - TERMINATED
        example: CREATING
      build_id:
        type: string
        description: 应用包id，创建后不支持修改，用户创建应用包后返回的id
        example: build-52d872a5-acd3-11ec-a7e0-6805cab276a1
        minLength: 1
        maxLength: 64
      bandwidth_size:
        type: integer
        format: int32
        minimum: 1
        maximum: 200
        default: 1
        example: 1
        description: 应用队列单实例公网出带宽最大值，默认1Mbps，范围1-200Mbps，可提单提高配额
      instance_specification:
        type: string
        description: |-
          实例规格，当前只支持2种标准型 
          * scase.standard.4u8g 
          * scase.standard.8u16g
        default: scase.standard.4u8g
        example: scase.standard.4u8g
        enum:
          - scase.standard.4u8g
          - scase.standard.8u16g
      operating_system:
        type: string
        description: 操作系统类型
        minLength: 1
        maxLength: 128
        example: linux
      server_session_protection_policy:
        type: string
        description: >-
          服务服务器会话保护策略

          * NO_PROTECTION:         不保护，缩容时如果有会话在实例上运行，直接缩容    

          * FULL_PROTECTION:       完全保护，缩容时如果有会话在实例上运行，等待会话结束再缩容

          * TIME_LIMIT_PROTECTION:
          限时保护，缩容时如果有会话在实例上运行，等待一定时间后缩容，等待时间由server_session_protection_time_limit_minutes指定
        example: NO_PROTECTION
        enum:
          - NO_PROTECTION
          - FULL_PROTECTION
          - TIME_LIMIT_PROTECTION
      server_session_protection_time_limit_minutes:
        type: integer
        format: int32
        description: >-
          server_session_protection_policy字段为TimeLimitProtection时有效，单位分钟，最大值不超过一天
        minimum: 5
        maximum: 1440
        default: 5
        example: 5
      enable_auto_scaling:
        type: boolean
        description: 是否使能自动弹性伸缩，默认值为true，为false时策略仍旧存在，但是不会触发弹性伸缩动作
        default: 'true'
        example: 'true'
      resource_creation_limit_policy:
        $ref: '#/definitions/ResourceCreationLimitPolicy'
      creation_time:
        type: string
        description: 应用进程队列创建时间，结束时间，UTC时间，遵循RFC3339规范，例如2019-12-09T06:10:29Z
        minLength: 1
        maxLength: 32
        example: '2020-06-28T00:00:00Z'
      instance_tags:
        type: array
        description: 实例标签数组
        minItems: 0
        maxItems: 10
        items:
          $ref: '#/definitions/InstanceTag'
      enterprise_project_id:
        type: string
        description: 应用进程队列所在的企业项目
        minLength: 1
        maxLength: 1024
  InstanceTag:
    properties:
      key:
        type: string
        description: 标签的键
        example: key
        minLength: 1
        maxLength: 36
      value:
        type: string
        description: 标签的值
        example: value
        minLength: 0
        maxLength: 36
    required:
      - key
  IpPermission:
    properties:
      protocol:
        description: |
          传输层协议 
          * TCP: TCP协议
          * UDP: UDP协议
        type: string
        example: TCP
        enum:
          - TCP
          - UDP
      ip_range:
        type: string
        description: IP 段范围，合法的 CIDR 地址类型，只支持IPv4，如所有IPv4来源：0.0.0.0/0
        example: 0.0.0.0/0
        minLength: 9
        maxLength: 18
      from_port:
        type: integer
        minimum: 1025
        maximum: 60000
        description: 起始端口号
        example: 1025
      to_port:
        type: integer
        minimum: 1025
        maximum: 60000
        example: 1025
        description: 结束端口号
    required:
      - protocol
      - ip_range
      - from_port
      - to_port
  ErrorRsp:
    description: 失败时返回的错误对象
    properties:
      error_code:
        description: 错误码
        type: string
        minLength: 8
        maxLength: 36
      error_msg:
        description: 错误描述
        type: string
        minLength: 2
        maxLength: 512
    required:
      - error_code
      - error_msg
  ListMonitorInstancesResponceBody:
    properties:
      total_count:
        type: integer
        format: int32
        description: 实例总数量
        minimum: 0
        maximum: 2147483647
        example: 1
      count:
        type: integer
        format: int32
        description: 筛选出的实例数量
        minimum: 0
        maximum: 100
        example: 1
      instances:
        type: array
        description: 实例数组
        minItems: 0
        maxItems: 100
        items:
          $ref: '#/definitions/MonitorInstance'
  ListMonitorAppProcessResponceBody:
    properties:
      total_count:
        type: integer
        format: int32
        description: 进程总数量
        minimum: 0
        maximum: 2147483647
        example: 1
      count:
        type: integer
        format: int32
        description: 筛选出的进程数量
        minimum: 0
        maximum: 100
        example: 1
      app_processes:
        type: array
        description: 进程数组
        minItems: 0
        maxItems: 100
        items:
          $ref: '#/definitions/MonitorAppProcess'
  MonitorAppProcess:
    allOf:
      - $ref: '#/definitions/Process'
    properties:
      instance_id:
        type: string
        description: 实例的id
        minLength: 1
        maxLength: 64
        example: 6066645a-b078-4a00-90d1-7f10aaf87a5b
  MonitorInstance:
    properties:
      instance_id:
        type: string
        description: 实例的id
        minLength: 1
        maxLength: 64
        example: 6066645a-b078-4a00-90d1-7f10aaf87a5b
      instance_name:
        type: string
        description: 实例名
        minLength: 1
        maxLength: 64
        example: Fleet_25b24e04-8d6d-11ed-93a1-fa163ecd2586_aass_config-9SK1IKR8
      life_cycle_state:
        type: string
        minLength: 1
        maxLength: 64
        description: >-
          实例所处的生命周期
          * INSERVICE：已启用
[...]
